@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Ubuntu');
body {
  margin: 0;
  padding: 0;
  background-color: ivory;
}
body .main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1300px;
  margin: auto;
}
body .main .header {
  padding: 10px;
  display: flex;
  flex: 0 0 20px;
  justify-content: space-between;
  background-color: black;
}
body .main .header .nav {
  flex: 0 0 400px;
}
body .main .header .nav ul {
  padding: 0;
  margin: 0;
}
body .main .header .nav ul li {
  list-style: none;
  float: left;
}
body .main .header .nav ul li:hover {
  text-decoration: underline;
}
body .main .header .nav ul li a {
  text-decoration: none;
  display: block;
  padding: 0 10px 0 10px;
  color: #ffffff;
}
body .main .header .reg {
  flex: 0 0 225px;
  display: inline-block;
  text-align: end;
  color: #ffffff;
  padding: 0 10px 0 0;
}
body .main .header .reg a {
  color: #ffffff;
  text-decoration: none;
}
body .main .header .reg a:hover {
  text-decoration: underline;
}
body .main .banner {
  display: flex;
  margin-bottom: 20px;
  box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.15);
}
body .main .banner .log {
  flex: 0 0 190px;
  background: url(../logos/dd.png) no-repeat;
  background-color: transparent;
}
body .main .banner .inform {
  flex: 1 0 600px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;
}
body .main .banner .inform .phone {
  flex: 1 0 190px;
  margin: 10px;
  padding: 10px 0 10px 60px;
  text-align: left;
  position: relative;
}
body .main .banner .inform .phone img {
  opacity: 0.1;
  position: absolute;
  top: 14px;
  right: -1px;
}
body .main .banner .inform .phone span {
  position: relative;
  right: -25px;
}
body .main .banner .inform .phone .velcom {
  background: url(../logos/velcom.png) no-repeat;
}
body .main .banner .inform .phone .mts {
  background: url(../logos/mts.png) no-repeat;
  background-position: left -1px;
}
body .main .banner .inform .phone .life {
  background: url(../logos/life.png) no-repeat;
  background-position: left 1px bottom 3px;
}
body .main .banner .inform .phone .telephone {
  background: url(../logos/phone.png) no-repeat;
}
body .main .banner .inform .phone .mail {
  background: url(../logos/mail.png) no-repeat;
}
body .main .banner .inform .address {
  flex: 1 0 220px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 10px;
  padding: 10px 0 10px 40px;
  position: relative;
  text-align: left;
}
body .main .banner .inform .address img {
  opacity: 0.1;
  position: absolute;
  top: 14px;
  right: 40px;
}
body .main .banner .inform .time {
  padding: 25px 0 10px 10px;
  margin: 10px;
  flex: 1 0 190px;
  text-align: left;
  position: relative;
}
body .main .banner .inform .time .workdays {
  color: green;
}
body .main .banner .inform .time .saturday {
  color: orange;
}
body .main .banner .inform .time .sunday {
  color: red;
}
body .main .banner .inform .time .pict {
  opacity: 0.1;
  position: absolute;
  top: 10px;
  right: 40px;
}
body .main .content {
  flex-grow: 1;
  display: flex;
  margin: 20px;
  background-color: ivory;
}
body .main .content .navigator .menu {
  flex: 0 0 250px;
  margin: 0 0 0 20px;
}
body .main .content .navigator ul {
  margin: 0;
  padding: 0 2px 0 3px;
}
body .main .content .navigator ul.menu {
  background-color: #4d4d4d;
  width: 200px;
}
body .main .content .navigator ul.menu li {
  background-color: #4d4d4d;
  border-bottom: 1px solid #ffffff;
  list-style: none;
  height: 30px;
}
body .main .content .navigator ul.menu li ul li {
  height: 30px;
  width: 200px;
}
body .main .content .navigator ul.menu li:hover {
  background-color: hotpink;
  position: relative;
}
body .main .content .navigator ul.menu li:hover ul li ul {
  position: absolute;
}
body .main .content .navigator ul.menu li:hover > ul {
  display: block;
  position: absolute;
  left: 200px;
  top: 0;
}
body .main .content .navigator ul.menu li a {
  text-decoration: none;
  display: block;
  padding: 5px 5px 5px 15px;
  color: white;
}
body .main .content .navigator ul.menu li ul {
  display: none;
  width: 200px;
}
body .main .content .product {
  flex-grow: 1;
  background-color: ivory;
}
body .main .content .product .item {
  display: none;
}
body .main .content .product .item h1 {
  font-size: 35px;
  margin: 0 0 0 40px;
}
body .main .content .product .item:target {
  display: block;
}
body .main .content .product .item:last-child {
  display: block;
}
body .main .content .product .item:target ~ .item {
  display: none;
}
body .main .content .product .model {
  flex-grow: 1;
  display: flex;
  background-color: #ffffff;
  margin: 20px;
  height: 200px;
}
body .main .content .product .model .fotografii {
  flex: 0 0 150px;
  width: 200px;
}
body .main .content .product .model .description {
  flex-grow: 1;
}
body .main .content .product .model .prise {
  flex: 0 0 150px;
  padding: 60px 0 0 15px;
  font-size: 25px;
}
body .main .content .product .model div {
  padding: 10px;
  margin: 10px 0;
}
body .main .content .product .model div:nth-child(2) {
  border-left: 1px solid #4d4d4d;
  border-right: 1px solid #4d4d4d;
}
body .main .footer {
  flex: 0 0 30px;
  padding: 6px;
  margin-top: 20px;
  box-shadow: 0 -6px 8px -2px rgba(0, 0, 0, 0.15);
}
